Intelligent_access_to_critical_safety_areas.json
[{"id":"7b046f7b.2a439","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6b21dc64.83ce04","type":"debug","z":"7b046f7b.2a439","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"f69ff4a8.a46e18","type":"ibmiot in","z":"7b046f7b.2a439","authentication":"apiKey","apiKey":"f19bc1a8.9000b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10110","applicationId":"","deviceType":"RSIP","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":80,"wires":[["6b21dc64.83ce04","fcebb038.757fe"]]},{"id":"fcebb038.757fe","type":"function","z":"7b046f7b.2a439","name":"PERSON","func":"global.set('person',msg.payload.d.person)\nreturn {payload:msg.payload.d.person};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["6b21dc64.83ce04","d963f050.db52d"]]},{"id":"d963f050.db52d","type":"ui_gauge","z":"7b046f7b.2a439","name":"person","group":"1dfcf928.02ea87","order":11,"width":0,"height":0,"gtype":"gage","title":"person","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"439f3344.1d485c","type":"http request","z":"7b046f7b.2a439","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://4245f642-3442-4182-99d1-18383673c9aa-bluemix.cloudant.com/smartrecognition/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":300,"wires":[["bebc6060.a8097","439a1351.697cec"]]},{"id":"92f1c23c.aa2fc","type":"inject","z":"7b046f7b.2a439","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["439f3344.1d485c"]]},{"id":"bebc6060.a8097","type":"debug","z":"7b046f7b.2a439","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"439a1351.697cec","type":"function","z":"7b046f7b.2a439","name":"IMAGE","func":"global.set('image',msg.payload.rows[0].doc.link)\nreturn {payload:msg.payload.rows[0].doc.link};","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["bebc6060.a8097","8e500767.a68808"]]},{"id":"8e500767.a68808","type":"ui_template","z":"7b046f7b.2a439","group":"1dfcf928.02ea87","name":"Image","order":12,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":440,"wires":[[]]},{"id":"274bdd05.0c9e02","type":"http in","z":"7b046f7b.2a439","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["8d74dcf9.dc986"]]},{"id":"8d74dcf9.dc986","type":"function","z":"7b046f7b.2a439","name":"persondata","func":"msg.payload={\"person\":global.get('person')}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["40fe5261.efff3c"]]},{"id":"40fe5261.efff3c","type":"http response","z":"7b046f7b.2a439","name":"","statusCode":"","headers":{},"x":480,"y":520,"wires":[]},{"id":"1b2459d7.5aa116","type":"function","z":"7b046f7b.2a439","name":"","func":"msg.payload={\"image\":global.get('image')}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["24999ffc.87805"]]},{"id":"9dd9047e.794068","type":"http in","z":"7b046f7b.2a439","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["1b2459d7.5aa116"]]},{"id":"24999ffc.87805","type":"http response","z":"7b046f7b.2a439","name":"","statusCode":"","headers":{},"x":580,"y":620,"wires":[]},{"id":"f19bc1a8.9000b","type":"ibmiot","z":"","name":"IoT Device","keepalive":"60","serverName":"va2bln.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1dfcf928.02ea87","type":"ui_group","z":"","name":"Smart Home","tab":"fb3615a6.dff4c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fb3615a6.dff4c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]